html {
  height: 100%;
  font-family: 'Merriweather', serif;
}

#root {
  height: 100%;
  width: 100%;
}

* {
  margin: auto;
}

body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

header {
  width: 100%;
  display: flex;
}

body {
  background: #E2FADB;
  display: flex;
}

.Appp-Nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

/* header {
  margin-top: 6em;
} */

h1 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Merriweather', serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Appp-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
